<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Lab 5</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Inicio</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/usuarios/lista}">Usuarios</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('USER')">
                    <a class="nav-link" th:href="@{/usuario/juego}">Juego</a>
                </li>
            </ul>
            <span class="navbar-text me-3" sec:authorize="isAuthenticated()">
                <span th:text="${session.usuario.nombre} + ' (' + ${#authentication.authorities[0].authority} + ')'"></span>
            </span>
            <form th:action="@{/logout}" method="post" class="d-inline">
                <button type="submit" class="btn btn-outline-danger">Cerrar Sesión</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>